@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    font-size: 63%;
    overflow-x: hidden;
}

:root{
    --main-color:tomato;
    --text-color:gray;
    --white-color:#ffffff;
}

body{
    width: 100%;
    color: var(--text-color);
    /* overflow-x:hidden ; */
}

/* Header Section CSS */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s ease-in-out;
}

header.active{
    background:var(--white-color);
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.7);

}

header .logo img{
    width: 20rem;
}

header .navbar{
    display: flex;
    align-items: center;
    position: relative;
}

header .navbar a{
    position: relative;
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 2rem;

}

header .navbar a::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: var(--main-color);
    border-radius: 20px;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
    transform-origin:right ;
}

header .navbar a:hover::after{
    transform: scaleX(1);
    transform-origin:left ;
}

header .header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.6rem;
}

header .header-icon .cart-icons{
    position: relative;
    cursor: pointer;
}

header .header-icon .cart-icons span{
    position: absolute;
    bottom: 0;
    right: -3px;
    padding: 10px;
    width: 17px;
    height: 17px;
    background: var(--main-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


header button{
    padding: 20px 40px;
    background: transparent;
    color: var(--main-color);
    border: 1.5px solid var(--main-color);
    font-size: 2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

header button:hover{
    background: var(--main-color);
    color: var(--white-color);
}
    

/* Home Section  */

section{
    width: 100%;
    padding: 12rem 7% 3rem;
}

span{
    color: var(--main-color);
}

.home{
    width: 100%;
    background: url(./image/);
    background-position: center;
    background-size: cover;
}

.home-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.home-text-content{
    width: 50%;
    gap: 3.3rem;
    padding-top: 5rem;
}


.home-text-content h1{
    font-size: 8rem;
    font-family: "outfit", sans-serif;
    line-height: 1;
}

.home-text-content p{
    font-size: 1.9rem;
    margin: 5.5rem 0;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 20px 50px;
    background: var(--main-color);
    font-size: 19px;
    border-radius: 50px;
    color: var(--white-color);
    transition: .5s ease-in-out;
    cursor: pointer;
    border: 1.5px solid var(--main-color);
}

button:hover{
    background: transparent;
    color: var(--main-color);
}


/* About Section CSS */

.about{
    width: 100%;
    background: url(./image/);
    background-position: center;
    background-size: cover;
}

.about-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img{
    width: 60%;
}

.about-img img{
    width: 100%;
}
.about-content .about-text{
    width: 40%;
}

.heading{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
}

.heading h1{
    font-size: 5rem;
}

.heading p{
    width: 70px;
    height: 4px;
    border-radius: 50px;
    background: var(--main-color);
}

.about-text h2{
    font-size: 3rem;
    font-family: "outfit", sans-serif;
    margin-top: 3rem;
}

.about-text p{
    font-size: 18px;
    margin: 4rem 0;
}


/* Menu Section CSS */

.menu{
    width: 100%;
    background: url(./);
    background-position: center;
    background-size: cover;
}

.heading-text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading-text p {
    font-size: 1.5rem;
}

.menu-content{
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 2rem;
    margin-top: 7rem;
}

.menu-content .product-box{
    border: 1.5px solid gray;
    padding: 1rem;
    border-radius: 9px;
    overflow: hidden;
    position: relative;
   
}

.menu-content .product-box .product-img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 9px;
}

.menu-content .product-box .product-img img{
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
}

.menu-content .product-box .product-img:hover img{
    transform: scale(1.2);
}

.menu-content .product-box small{
    font-size: 1.4rem;
}

.menu-content .product-box .product-name {
    font-size: 3.3rem;
    color: #000;
    transition: .5s ease-in-out;
}

.menu-content .product-box:hover .product-name{
    color: var(--main-color);
}

.menu-content .product-box .product-description{
    font-size: 15px;
    margin:2rem 0;
}

.menu-content .product-box .addToSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-content .product-box .addToSection .price{
    font-size: 3.4rem;
    font-weight: 700;

}

.menu-content .product-box .addToSection .cart-icon{
    position: relative;
}

.menu-content .product-box .addToSection .cart-icon a{
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    background: rgba(255, 99, 71, 0.575);
    border-radius: 50%;
    color: black;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-content .product-box .addToSection .cart-icon .popup{
    color: var(--white-color);
    background: #000;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    border-radius: 50px;
    gap: 0.5rem;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition: .5s;
}

.menu-content .product-box .addToSection .cart-icon:hover .popup{
    opacity: 1;
    transform: translateY(-50px);
}

.menu-next{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.menu-next button{
    border-radius: 6px;
    padding: 20px;
    height: 50px;
}

.menu-next p{
    font-size: 22px;
}

.gallary{
    width:100%;
    background: url(./image/);
    background-position: center;
    background-size: cover;
}

.gallary-content{
    margin-top:6rem ;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.gallary-box{
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;

}

.gallary-box .gallary-img{
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;

}

.gallary-box:hover .gallary-img{
    transform: scale(1.3);
}

.gallary-overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000000af;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    gap: 3rem;
    opacity: 0;
    transition: .5s ease-in-out;

}

.gallary-overlay p{
    font-size: 1.5rem;
    color: var(--white-color);
}


.gallary-overlay a{
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    background: var(--white-color);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    border-radius: 50%;
    transform: translateY(30px);
    transition: .5s ease-in-out;
}

.gallary-box:hover .gallary-overlay a{
    transform: translateY(-20px);
}

.gallary-box:hover .gallary-overlay{
    opacity: 1;
}

/* Order Section CSS */

.order{
    width: 100%;
    background: url(./image/);
    background-position: center;
    background-size: cover;
}

.order-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.order-img{
    width: 45%;
    position: relative;
}

.order-img img{
    width: 100%;
}

.order-text{
    width: 55%;

}

.order-text h2{
    font-size: 5rem;
}
.order-text p{
    font-size: 1.7rem;
    margin: 2rem 0;
    text-align: center;
}

.order-text form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.3rem;
}

.order-text form .input-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
}

.order-text form .input-box input, textarea{
    border: 1.5px solid gray;
    border-radius: 10px;
    font-size: 1.7rem;
    padding: 1.5rem 20px;
    width: 100%;

}

.order-text form button{
    border-radius: 20px;
}


.testimonial{
    width: 100%;
    background: url(./image/);
    background-position: center;
    background-size: cover;
}

.slider-container{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper{
    width: 90%;
    box-shadow: 0 0 1rem gray;
    border-radius: 20px;
    margin: 40px 70px;
    overflow: hidden;
}

.slider-list .slider-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.4rem;
    text-align: center;
    padding: 2rem;
}

.slider-list .slider-card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid transparent;
    outline:  3px solid var(--main-color);
}

.slider-card h2{
    font-size: 3rem ;
    color: var(--main-color);
}

.slider-card p{
    font-size: 1.8rem;
}

 .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

 .social-media a{
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    background: transparent;
    border :1.5px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.4rem;
    color: var(--main-color);
    transition: .5s;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}

.slider-wrapper .swiper-button-prev,
.slider-wrapper .swiper-button-next{
    color: var(--main-color);
}

.slider-wrapper .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background: var(--main-color);
}


/* Contact Section CSS */

.contact{
    width: 100%;
    background: url(./image/);
    background-position: center;
    background-size: cover;
}

.contact-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.contact-img{
    width: 50%;
    position: relative;
}

.contact-img img{
    width: 100%;
}
.contact-text{
    width: 50%;
    padding: 3rem;
}

.contact-text b{
    font-size: 5rem;
    margin-bottom: 2rem;
}

.contact-text p{
    margin-bottom: 3rem;
    font-size: 2rem;
}

.contact-text p i{
    color:var(--main-color) ;
}

.contact-text .social-media{
    display: flex;
    justify-content: left;
}

.contact-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
}

.contact-input h2{
    font-size: 3.7rem;
}

.contact-input div{
    width: 670px;
    height: 70px;
    border: 1.5px solid gray;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding:  0 0 0 15px;
}

.contact-input div input{
    padding: 12px;
    font-size: 2rem;
    width: 60%;
}

/* Footer Section CSS */


footer{
    width: 100%;
    background: #323232;
}

.footer-content{
    width: 100%;
    padding: 6rem 7%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 3rem;
}

.footer-content .footer-left,  .footer-right{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2.5rem;
}

.footer-content .footer-center a, .footer-right p{
    font-size: 1.7rem;
    color: var(--white-color);
}

.footer-content .footer-center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-center a:hover{
    color: var(--main-color);
}

.footer-content .footer-left p{
    font-size: 1.8rem;
    color: var(--white-color);
}

.footer-content .footer-center h2,
.footer-right h2{
    color: var(--main-color);
    font-size: 3rem;
}

.copyright{
    text-align: center;
    font-size: 1.2rem;
    padding: 3rem 0;
    
}